Checks: '
    *,
    -altera-*,
    -fuchsia-*,
    -llvmlibc-*,
    -abseil-*,
    -*-braces-around-statements,
    -*-magic-numbers,
    -bugprone-easily-swappable-parameters,
    -google-runtime-int,
    -misc-no-recursion,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -google-readability-todo,
    -readability-use-anyofallof,
'
