BasedOnStyle: LLVM
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Left
SpaceBeforeParens: Never
